<h2 style="text-align:center"> Create A Poll! </h2>
<body ng-controller="createPollCtrl">
<ion-content class="has-header" padding="true">
<div class="padding">
  <div class="list" id="poll">
    <label class="item item-input">
      <input type="text" id="question" placeholder="Question?" ng-model="question">
    </label>
    <ul class="list" id="options-list">
    </ul>
    <div data-role="controlgroup" data-inline="true">
      <label class="item item-input">
        <input type="text" id="add-option-text" data-wrapper-class="controlgroup-textinput ui-btn" placeholder="Add Option?">
        <button class="button" id="add-option-button" ng-click="add_option()"> Add </button>
      </label>
    </div>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" name="checkbox-1" id="INSTABOX">
     </label>
     Insta
  </li>
    <div class="list">
    <label class="item item-input item-select">
      <div class="input-label">
        End the Poll In...
      </div>
    <select>
        <option selected>End The Poll in..</option>
        <option>1 Minute</option>
        <option>5 Minutes</option>
        <option>10 Minutes</option>
        <option>30 Minutes</option>
        <option>1 Hour</option>
        <option>1 Day</option>
        <option>1 Week</option>
    </select>
    </label>
  </div>
    <button class="button" id="sendTo" ng-click="goToSendToPage()"> Send To... </button>
  </div>
</div>

</ion-content>

      <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

      <div data-role="header">
        <h1>Photo Menu</h1>
      </div>

      <div data-role="main" class="ui-content">
 
    <button onclick="capturePhoto();">Capture Photo</button> <br>
    <button onclick="capturePhotoEdit();">Capture Editable Photo</button> <br>
    <button onclick="getPhoto(pictureSource.PHOTOLIBRARY);">From Photo Library</button><br>
    <button onclick="getPhoto(pictureSource.SAVEDPHOTOALBUM);">From Photo Album</button><br>
    <button type="button" data-dismiss="modal">Close</button>

      </div>

      <div data-role="footer">
        <h1>Footer Text</h1>
      </div>
    </div>
            </div>
        </div>
      </body>