<div data-role="content" id="loginPageContent" style="height:100vh; width:100vw">
    <h2 style="text-align:center"> Welcome back! </h2>
        <form id="loginForm">

            <div data-role="fieldcontain" class="ui-hide-label">
                <label for="username"> Username: </label>
                <input type="text" name="username" id="username" value="" placeholder="Username"/>
            </div>

            <div data-role="fieldcontain" class="ui-hide-label">
                <label for="password"> Password: </label>
                <input type="password" name="password" id="password" value="" placeholder="Password"/>
            </div>

            <input type="submit" value="Login" id="submitButton" data-theme="b">
            
        </form>
    </div>
    <!--End of login form-->
    <div data-role="ForgotPasswordButton">
        <input type="button" value="Forgot Password?" id="ForgotPasswordButton" onclick="ForgotPassword()">
    </div> 
</div>