<div data-role="content" id="regPageContent">
    <h2 style="text-align:center">Create an Account</h2>
    <form id="registerForm">
        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="gender">Gender:</label>
            <input type="text" name="gender" id="Reggender" value="" placeholder="gender"/>
        </div>
        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="age">Age:</label>
            <input type="text" name="age" id="Regage" value="" placeholder="age"/>
        </div>
        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="phonenumber">Phone Number:</label>
            <input type="text" name="phonenumber" id="Regphonenumber" value="" placeholder="Phone Number"/>
        </div>
        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="email">Email:</label>
            <input type="text" name="email" id="Regemail" value="" placeholder="Email"/>
        </div>

        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="username"> Username: </label>
            <input type="text" name="username" id="Regusername" value="" placeholder="Username"/>
        </div>

        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="password"> Password: </label>
            <input type="password" name="password" id="Regpassword" value="" placeholder="Password"/>
        </div>
        <input type="submit" value="Register" id="registerButton" data-theme="b">
    </form>
</div>