<!-- <div data-role="content" id="regPageContent">
    <h2 style="text-align:center">Create an Account</h2>
    <form id="registerForm">
        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="gender">Gender:</label>
            <input type="text" name="gender" id="Reggender" value="" placeholder="gender"/>
        </div>
        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="age">Age:</label>
            <input type="text" name="age" id="Regage" value="" placeholder="age"/>
        </div>
        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="phonenumber">Phone Number:</label>
            <input type="text" name="phonenumber" id="Regphonenumber" value="" placeholder="Phone Number"/>
        </div>
        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="email">Email:</label>
            <input type="text" name="email" id="Regemail" value="" placeholder="Email"/>
        </div>

        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="username"> Username: </label>
            <input type="text" name="username" id="Regusername" value="" placeholder="Username"/>
        </div>

        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="password"> Password: </label>
            <input type="password" name="password" id="Regpassword" value="" placeholder="Password"/>
        </div>
        <input type="submit" value="Register" id="registerButton" data-theme="b">
    </form>
</div> -->
<view title="'iOpinio'" class="boston">
    <content class="padding" has-header="true" has-subheader="true" style="text-align:center">
        <h2>In My Opinio..</h2>
        <div class="list list-inset" id="registerForm">
            
            <label class="item item-input item-floating-label">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Name" id="Regname">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="Email" id="Regemail">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Phone</span>
                <input type="tel" placeholder="Phone Number" id="Regphonenumber">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Username" id="Regusername">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password" id="Regpassword">
            </label>
        </div>

        <button class="button button-positive button-block button-outline button-small  padding" id="registerButton">
        Register! 
        </button>
    </content> 
</view> 